@font-face {
    font-family: 'Gilroy';
    src: url(../assets/fonts/Gilroy-Light.ttf);
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../assets/fonts/Gilroy-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../assets/fonts/Gilroy-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../assets/fonts/Gilroy-Black.ttf);
    font-weight: 1000;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../assets/fonts/Gilroy-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}