@media screen and (max-width: 768px){
    .cards_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pagination {
        display: none; 
        margin-top: 20px;
        justify-content: center
    }
    
    .pagination-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #D4DDDD;
        margin: 0 5px;
        cursor: pointer;
    }
    
    .pagination-dot.active {
        background-color: #FF512F; 
    }
    .cards_row{
        flex-direction: column;
        row-gap: 10px;
        padding-bottom: 140px;
    }
    .card_button{
        background: #FF512F;
    }
    .card_item{
        background: #15ADAE;
        color: #FFF;
    }
    .ellipse_little{
        background: #FAFBFF;
        border: 1px solid #15ADAE;
    }
    .icon,
    .bg-img,
    .wave {
        display: none;
    }
    .hover_icon{
        display: block;
        position: absolute;
        top: 15%;
        left: 15%;
    }
    .input-button{
        margin-bottom: 140px;
        justify-content: center;
    }
    .work_block{
        margin-bottom: 140px;
    }
    .main_input{
        max-width: 237px;
        width: 100%;
    }
    .main_block_text{
        font-size: 18px;
    }
    .input-button{
        position: relative;
    }
    .main_title{
        font-size: 34px;
        margin-top: 30px;
        padding: 0 40px;
    }
    .bg-img2{
        display: block;
        width: 100%;
    }
}
@media screen and (min-width:769px) {
    .bg-img2{
        display: none;
    }
}
@media screen and (min-width:768px) and (max-width: 1180px) {
    .footer_point{
        justify-content: center;
        margin: 0 auto;
    }
}
@media screen and (min-width:768px) and (max-width:1340px) {
    .cards_row{
        row-gap: 80px;
    }
}
@media screen and (max-width:1180px) {
    .footer_1_row{
        flex-wrap: wrap;
        max-width: 700px;
        width: 100%;
    }
    .footer_point{
        padding-top: 30px;
        max-width: 500px;
        width: 100%;
        column-gap: 9px;
    }
    .elements,
    .elements_2{
        display: none;
    }
    .footer_logo{
        margin: 0 auto;
        padding-bottom: 10px;
    }
}
@media screen and (max-width:1024px) {
    .menu-icon{
        z-index: 5;
        display: block;
        position: relative;
        width: 24px;
        height: 24px;
        cursor: pointer;
        padding-top: 31px;
        margin-left: 30px;
        top: 15px;
    }
    .menu-icon span,
    .menu-icon::before,
    .menu-icon::after {
        right: 20px;
        position: absolute;
        height: 3px;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #15ADAE;
        display: block;
    }
    .menu-icon::before,
    .menu-icon::after{
        content: "";
    }
    .menu-icon::before{
        top: 5px;
    }
    .menu-icon::after{
        bottom: 5px;
        height: 2.5px;
    }
    .menu-icon span{
        top: 50%;
        transform: scale(1) translate(0px,-50%);
    }
    .header-container{
        position: relative;
    }
    .nav-link{
        color: #FFF;
        padding: 0 0 0 0;
        
    }
    .logo_nav{
        justify-content: space-between;
    }
    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        width: 85%;
        height: 100%;
        z-index: 1;
        background: rgba(10, 10, 10, 0.90);
        backdrop-filter: blur(10px);
        transition: right 0.8s ease 0s;
        overflow: auto;
        align-items: center;

        justify-content: center;
    }
    .nav._active{
        right: 0;
    }
    .nav-list{
        flex-direction: column;
    }
    .menu-icon._active span{
        transform: scale(0) translate(0px,-50%);
        background-color: #e3dbdb;
    }
    .menu-icon._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px,-50%);
        background-color: #e3dbdb;
    }
    .menu-icon._active::after{
        height: 3px;
        bottom: 50%;
        transform: rotate(45deg) translate(1.5px,50%);
        background-color: #e3dbdb;
    }
    .nav-list{
        margin-top: 100px;
        text-align: center;
    }
    
    .nav-item{
        transition: all ease 1.2s;
        margin-bottom: 40px;
        padding-right: 25px;
        padding-left: 35px;
        margin-right: 0px;
    }
    .nav-item:hover{
        cursor: pointer;
        .nav-link{
        color: #FF512F;
        }
    }
    ._lock {
        overflow: hidden;
    }
    .header{
        padding: 10px 15px;
        background: #FFF;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
    }
    .cards_row{
        column-gap: 20px;
        margin: 0 20px;
    }
    .contact_row{
        flex-wrap: wrap-reverse;
        margin-left: 0;
        justify-content: center;

    }
    .contact_img{
        margin-bottom: 45px;
    }
    .header_button_1{
        display: none;
    }
    .header{
        display: block;
        padding: 10px 15px;
    }
    .header_logo_2{
        width: 195px;
        height: 64px;
    }
    .header_button_2{
        margin-top: 40px;
    }
    .nav-logo{
        margin: 0 auto;
        padding: 0px;
    }
    .nav-item::after {
        display: none;
      }
    .main_title{
        padding-left: 15px;
        padding-right: 15px;
    }
    .main_block_text{
        padding-right: 15px;
    }
    .input-button{
        margin-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width:1024px) {
    .header_button_2,
    .header_logo_2{
        display: none;
    }   
}
@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .bg-img{
        max-width: 700px;
    }
    .main_title{
        max-width: 640px;
        width: 100%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .bg-img{
        max-width: 550px;
    }
    .main_title{
        max-width: 360px;
        width: 100%;
        font-size: 34px;
        margin-top: 100px;
    }
}
@media screen and (max-width:1340px) {
    .contact_img {
        overflow: hidden;
    }
    .cards_row{
        flex-wrap: wrap;
        max-width: 750px;
        column-gap: 100px;
    }
    .work_row{
        column-gap: 70px;
    }
    .contact_row{
        margin-left: 20px;
        margin-right: 20px;
        column-gap: 30px;
    }
}
@media screen and (max-width:900px) {
    .work_row{
        flex-wrap: wrap;
    }
    .cards_row{
        column-gap: 60px;
    }
    .work_row{
        justify-content: center;
    }
    .work_column_2{
        align-items: center;
    }
}
@media screen and (max-width:460px) {
    .welcome_text{
        padding: 0 10px;
    }
    .column_2_card{
        column-gap: 10px;
        padding: 5px;
    }
    .column_icon{
        width: 58px;
        height: 58px;
    }
}
@media screen and (max-width:640px) {
    .policy{
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
    }
    .footer_2_row{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .year{
        margin-right: 0px;
    }
    .policy p{
        margin-bottom: 30px;
    }
    .year,
    .policy p{
        max-width: 400px;
        width: 100%;
        text-align: center;
    }
    .contact_row{
        margin-left: 0;
        margin-right: 0;
        column-gap: 0;
    }

}

